.movie-section{
    margin-top: 30px;
}

.movie-section-title{
    font-size: 17px;
    font-weight: 600;
}

.movie-section-row{
    margin-top: 15px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.movie-card{
    cursor: pointer;

    margin-right: 20px;

    height: 200px;
    width: 150px;
    border-radius: 5px;
    background-color: $primary-color;

    background: $primary-color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    position: relative;

    transition: filter 150ms linear;

    overflow: hidden;

    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));

    &:last-child{
        margin-right: 0;
    }

    &:hover{
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.7));
    }
}

.movie-card-content{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    background: linear-gradient(0, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);

    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 150ms linear;

    &:hover{
        opacity: 1;
    }
}

.movie-card-content i, .movie-card-content p{
    margin-top: auto;
}

.movie-card-content i{
    font-size: 40px;
    color: rgba(255, 255, 255, 0.4);
    transition: color 100ms linear;

    &:hover{
        color: rgba(255, 255, 255, 0.6);
    }
}

.movie-card-content p{
    text-align: center;
    padding: 0 10px 10px;
    font-size: 12px;
    font-weight: 400;
}

.movie-section-loading{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie-section-loading i{
    font-size: 30px;
    animation: spin forwards linear infinite 1.5s;
}