$primary-color: #ff0000;

$dropdown-z-index: 10;
$search-z-index: 15;
$loading-z-index: 20;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body{
    background-color: #242424;
    color: #fff;
}

a{
    color: #fff;
    text-decoration: none;
}

::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track{
    background-color: #2d2d2d;
}

::-webkit-scrollbar-thumb{
    background-color: #3e3e3e;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #505050;
}

.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: right;
}

.swiper-slide-next{
    justify-content: center;
}

.swiper-slide-active{
    justify-content: left;
}

.swiper-button-next{
    padding-left: 2px;
}

.swiper-button-prev{
    padding-right: 2px;
}

.swiper-button-next, .swiper-button-prev{
    color: #fff!important;
    background-color: rgba($primary-color, 0.2);
    width: 40px!important;
    height: 40px!important;
    border-radius: 50%;
    transition: background 150ms linear;

    &:hover{
        background-color: rgba($primary-color, 0.5);
    }

    &::after{
        font-weight: 900;
        font-size: 15px!important;
    }
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 30px;
}

.error-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - (70px + 77px));
    user-select: none;
}

.error-content h1{
    font-size: 45px;
    color: #bababa;
}

.error-content p{
    margin-top: 5px;
    font-size: 15px;
    font-weight: 500;
    color: #bababa;
}

@import "components/card-section";

@import "routes/home";
@import "routes/movie";

@import "views/top-bar";
@import "views/loading";
@import "views/footer";

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 450px){
    .container{
        padding: 0 20px;
    }
}