.video-frame{
    width: 100%;
    padding-top: 56.25%;
    position: relative;
    margin-top: 40px;
}

.video-frame iframe{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
}

.video-meta{
    margin-top: 20px;
}

.video-meta-head{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.video-meta-title{
    font-size: 20px;
    font-weight: 700;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.3));
}

.video-meta-row{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 10px;
}

.video-meta-stars{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.video-meta-stars i{
    color: $primary-color;
    font-size: 14px;
    filter: drop-shadow(0 0 8px rgba($primary-color, 0.7));
}

.video-meta-stars p{
    font-size: 14px;
    font-weight: 600;
    margin-left: 6px;
    color: #bababa;
    filter: drop-shadow(0 0 5px rgba(#bababa, 0.5));
}

.video-meta-year, .video-meta-length{
    margin-left: 8px;
    font-weight: 600;
    font-size: 14px;
    color: #bababa;
    filter: drop-shadow(0 0 5px rgba(#bababa, 0.5));
}

.video-meta-desc{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #ababab;
    filter: drop-shadow(0 0 5px rgba(#ababab, 0.3));
}

.video-meta-share{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.video-meta-share .video-meta-button{
    margin-left: 10px;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child{
        margin-left: 0;
    }

    &.facebook{
        background-color: #1877f2;
    }

    &.twitter{
        background-color: #1d9bf0;
    }
}

.video-meta-share .video-meta-button i{
    font-size: 16px;
}

.video-meta-genres{
    margin: 10px -5px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.video-meta-genre{
    border: 1px solid $primary-color;
    color: $primary-color;
    font-size: 14px;
    border-radius: 5px;
    padding: 4px 10px;
    margin: 5px;
    user-select: none;
}

.video-playlist{
    margin-top: 20px;
}

.video-playlist .select{
    position: relative;
    max-width: 200px;
}

.video-playlist .select-current{
    cursor: pointer;
    position: relative;

    border-radius: 5px;
    border: none;
    outline: none;
    
    padding: 8px 32px 8px 10px;
    width: 200px;
    max-width: 100%;
    font-size: 14px;

    color: #ababab;
    background-color: #2d2d2d;

    &.active{
        filter: drop-shadow(0 0 5px rgba($primary-color, 0.1));

        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.video-playlist .select-current i{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 12px;
    color: $primary-color;
}

.video-playlist .select-list{
    position: absolute;
    top: calc(100% + 5px);
    width: 100%;

    padding: 4px;

    background-color: #2d2d2d;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));

    border-radius: 5px;

    z-index: $dropdown-z-index;

    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}

.video-playlist .select-option{
    cursor: pointer;
    user-select: none;

    border-radius: 5px;
    padding: 8px;
    margin-top: 7px;
    font-weight: 500;

    display: flex;
    flex-direction: row;
    align-content: center;
    color: #bababa;

    transition: all 100ms linear;

    &:first-child{
        margin-top: 0;
    }

    &:hover{
        color: #fff;
        background-color: rgba(200, 200, 200, 0.1);
    }

    &.active{
        background-color: rgba(200, 200, 200, 0.15);
    }
}

.video-playlist .select-option p{
    font-size: 12.5px;
}

.video-playlist-grid{
    margin: 5px -5px 0;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.video-playlist-item{
    background-color: #2d2d2d;
    color: #ababab;

    margin: 10px 5px 0;

    border-radius: 5px;
    padding: 12px;

    display: flex;
    flex-direction: row;
    align-items: center;

    cursor: pointer;
    user-select: none;

    transition: all 100ms linear;

    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));

    border: 1px solid transparent;

    &:hover{
        filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.4));
    }

    &.active{
        border-color: $primary-color;
    }
}

.video-playlist-item i{
    font-size: 14px;
}

.video-playlist-item p{
    margin-left: 7px;
    font-weight: 500;
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}